extends templates/base.pug

block content
  .demo
    kx-claim.kx-item(data-claim= demoData data-skip="true")
      details
        summary
          .info
            p.subtitle= demoData.matches[0].serviceprovider.name
            p.title= demoData.matches[0].profile.display
          .icons
            .verificationStatus(data-value='running' aria-hidden='true')
              .inProgress
        .content
          .subsection
            img(src='/static/img/link.png' alt='')
            div
              if (demoData.matches[0].profile.uri)
                p Profile link: 
                  a(rel='me' href=demoData.matches[0].profile.uri)= demoData.matches[0].profile.uri
              else
                p Profile link: not accessible from browser
              if (demoData.matches[0].proof.uri)
                p Proof link: 
                  a(rel='me' href=demoData.matches[0].proof.uri)= demoData.matches[0].proof.uri
              else
                p Proof link: not accessible from browser
                
  #search.form-wrapper.card
    h2#searchTitle Generate a profile
    form(action="post")
      label#searchQuery(for="query") Query for fingerprint or email identifier
      input#query(type="search" name="query" required placeholder="3637202523e7c1309ab79e99ef2dc5827b445f4b, test@doip.rocks" aria-labelledby="searchTitle searchQuery")

      fieldset(role="radiogroup").radio-wrapper
        legend Protocol
        input#protocol-hkp(type="radio" name="protocol" value="hkp" checked="true")
        label(for="protocol-hkp") HKP
        input#protocol-wkd(type="radio" name="protocol" value="wkd")
        label(for="protocol-wkd") WKD
        input#protocol-sig(type="radio" name="protocol" value="sig")
        label(for="protocol-sig") Signature
      input(type="submit" value="Generate profile")

  if highlights.length > 0
    h2 Highlights
    .hcards.hcards--highlights
      each hl in highlights
        .card.card--small-profile
          h3.name= hl.name
          p
            span.fingerprint= hl.fingerprint
            br
            span.details= hl.description
          .spacer
          p
            a(href=`/${hl.fingerprint}`).button.full-width View profile
      - var n = 0
      while n < 3-highlights.length
        .card.card--small-profile-dummy
        - n++

  h2 About Keyoxide
  .hcards.hcards--features
    .card
      h3 Online identity
      p Establish an identity by verifiably linking your online accounts.
    .card
      h3 Decentralized
      p No central server or database. Control how your data is stored and accessed.
    .card
      h3 Privacy
      p No data is collected. Your data is yours and yours only.
    .card
      h3 Cryptography
      p Your online identity verifiably signed with widely-used OpenPGP.
    .card
      h3 Open Source
      p All Keyoxide projects are licensed under AGPL-3.0-or-later.
    .card
      h3 Transparent funding
      p Funded by donations. Keyoxide stands against VC and surveillance capitalism.

  h2 Community
  .card
    p
      | Discussion of the Keyoxide project happens primarily on the 
      a(href="https://community.keyoxide.org") Keyoxide Community Forum
      | . This is the place to propose new service providers for identity verification, make feature suggestions or report bugs.
    p 
      | There is also the 
      a(href="irc://irc.libera.chat/#keyoxide") #keyoxide:libera.chat IRC room
      | , the 
      a(href="https://matrix.to/#/#keyoxide:matrix.org") #keyoxide Matrix channel
      |  and the 
      a(href="https://lists.sr.ht/~yarmo/keyoxide-devel") keyoxide-devel mailing list
      | . The IRC room and Matrix channel are bridged together.
    p
      | The project is also present on the fediverse as 
      a(href="https://fosstodon.org/@keyoxide") @keyoxide@fosstodon.org
      | .
    p
      | Announcements and project updates are published on the  
      a(href="https://blog.keyoxide.org") Keyoxide blog
      | .


  h2 Fund the project
  .card
    p
      | The development of Keyoxide and the Decentralized OpenPGP Identity Proofs ecosystem is entirely funded by donations.
    p
      | The Keyoxide project was awarded a NGI Zero grant from the 
      a(href='https://nlnet.nl/') NLnet Foundation
      | .
    p
      | We rely on your support to keep working on Big Tech-independent secure online identity.
    p
      a.button.button--liberapay(href='https://liberapay.com/Keyoxide/')
        i(class='fa fa-liberapay' aria-hidden='true')
        |  Donate via Liberapay